<h1>注文確認</h1>

<table>
  <tr>
    <th>商品名</th>
    <th>価格(USD)</th>
    <th>個数</th>
    <th>小計</th>
  </tr>
  {{#each orderLine in model}}
    <tr>
      <td>{{orderLine.product.name}}</td>
      <td>{{orderLine.product.price}}</td>
      <td>{{orderLine.count}}</td>
      <td>${{orderLine.price}}</td>
      <td>
        <button {{action "increment" orderLine}}>+1</button>
        <button {{action "decrement" orderLine}}>-1</button>
      </td>
    </tr>
  {{/each}}
</table>

<hr />

合計金額: ${{totalPrice}} USD

<hr />

<button {{action "submit"}}>購入する</button>
